@model dynamic

@if (Model != null)
{
    <div class="container" style="width:100%;">
        <div style="width:50%; float:left; padding:1%;">
            <h2 class="text-center modal-header">AllUsers</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>FirstName</th>
                        <th>LastName</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Item in Model.AllUsers)
                    {
                        <tr class="Search">
                            <td>@Item.FirstName</td>
                            <td>@Item.LastName</td>
                            <td><a href="@Url.Action("AddFriend","User", new {friendId = Item.Id})" type="button" class="btn btn-outline-success">Send Request</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (Model.thisUser != null)
        {
            <div style="width:50%; float:left; padding:1%;">
                <h2 class="text-center modal-header">Friendship offer</h2>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>FirstName</th>
                            <th>LastName</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Item in Model.FriendsRequest)
                        {
                            <tr class="Search">
                                <td>@Item.FirstName</td>
                                <td>@Item.LastName</td>
                                <td>
                                    <a href="@Url.Action("FriendshipOffer","User", new {Agre=true,offeredUserId=Item.Id})" type="button" class="btn btn-outline-success">Agree</a>
                                    <a href="@Url.Action("FriendshipOffer","User", new {Agre=false,offeredUserId=Item.Id })" type="button" class="btn btn-outline-dark">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

    </div>

}